<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginita de prueba</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Hola Mundo</h1>
    <img src="/images/Leia.png" alt=""> <!-- no se escribe toda la ruta porque public tiene path -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempore, esse omnis maxime expedita aut consequatur eos sapiente porro. Illum soluta quidem recusandae corrupti nostrum velit ad ipsum id veritatis.</p>
    <a href="https://www.google.com" >ir a Google  </a>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
</body>




</html>